@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* CSS for Table Shadow */

/* Table Font Styling */
.table th,
.table td {
  font-family: 'Poppins', sans-serif; /* Gunakan font Poppins */
  font-weight: 400; /* Set ke regular */
  font-size: 14px; /* Ukuran font, sesuaikan jika perlu */
  color: #333; /* Warna teks, sesuaikan dengan kebutuhan */
}
  
.table-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.table-actions i {
    color: #588157;
    font-size: 1.2rem;
    cursor: pointer;
}