@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #FAFAFA;
}

#input-username::-webkit-input-placeholder,
#input-password::-webkit-input-placeholder {
    color: white;
}

#loginMessage {
    color: red;
    margin-top: 0px;
    margin-bottom: -10px; 
    font-size: 0.9rem; 
}

.box-area {
    display: flex;
    flex-direction: row;
}

/* Untuk tampilan kecil */
@media only screen and (max-width: 768px) {
    .box-area {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .left-box, .right-box {
        width: 100%;
        min-height: auto;
    }

    .left-box {
        height: auto;
        justify-content: center; /* Pastikan logo tetap di tengah */
        padding: 20px; /* Tambahkan padding */
    }

    .logo-img {
        width: 80%;
        max-width: 300px; /* Batas maksimum ukuran gambar */
    }
}
