@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

.sidebar {
    background-color: #ECEBE6;
}

.icon-berita img {
    width: 50%;
}

.col-md-10 {
    background-color: #fff;
    border-left: 1px solid #ececec;
}

.toolbar {
    margin-bottom: 10px;
}

.text-area {
    border: 1px solid #ced4da;
    padding: 10px;
    height: calc(100vh - 300px);
    overflow-y: auto;
}

.details {
    margin-top: 50px;
}
