body {
  margin: 0;
  overflow: hidden;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 7%;
  padding-top: 60px;
  z-index: 1;
}

.sidebar a {
  margin-top: 20px;
  font-size: 16px;
}

.form-container-wrapper {
  position: fixed;
  top: 70px;
  left: 7%;
  right: 0;
  bottom: 0;
  padding: 20px;
  background-color: #f8f9fa;
}

.form-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.form-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 50%;
}

.form-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.upload-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #3A5A40;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  color: #3A5A40;
  font-weight: bold;
  cursor: pointer;
}

.form-input-group label {
  font-weight: 600;
  font-size: 14px;
}

.form-input-group select.form-select {
  height: 50px;
  width: 530px;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 300px;
  z-index: 4; /* Ensure the dropdown is above other elements */
  position: relative; /* Make sure the z-index takes effect */
}

.form-input-group input.form-control, .form-input-group select.form-select {
  height: 50px;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 200px;
  gap: 10px;
  margin-top: 20px;
}

.btn-cancel {
  background-color: #ECEBE6;
  color: #3a5a40;
  border: none;
  width: 100px;
  height: 40px;
  font-weight: 600;
  border-radius: 8px;
  padding-right: 10px; 
  margin: -20px;
}

.btn-save {
  background-color: #3a5a40;
  color: white;
  border: none;
  width: 100px;
  height: 40px;
  font-weight: 600;
  border-radius: 8px;
  padding-bottom: 10px; 
  margin: -20px;
}
